<ng-container *ngIf="listFriendsRequests.length > 0">
  <div class="row">
    <div class="col-12">
      <p class="lead fw-bold">Solicitudes de amistad</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item border-0" *ngFor="let friendRequest of listFriendsRequests">

          <app-list-friend-request-item
            [friendRequest]="friendRequest"
          ></app-list-friend-request-item>

        </li>
      </ul>

    </div>
  </div>
</ng-container>


<div class="row fixed-bottom bg-dark p-3">
  <div class="col-12 d-flex justify-content-between">
    <!-- BUTTON BACK -->
    <app-button
      (click)="goBack()"
      [type]="'button'"
      [class]="'btn btn-secondary'"
      [icon]="'bi bi-backspace-fill me-1'"
      [label]="'Atrás'"
    ></app-button>
  </div>
</div>
