<div class="row">
  <!-- BUTTON OPEN TOOLBAR -->
  <div class="col-1">
    <i *ngIf="!toolbar" (click)="openToolbar(true)" class="bi bi-caret-down-fill"></i>
    <i *ngIf="toolbar" (click)="openToolbar(false)" class="bi bi-caret-up-fill"></i>
  </div>

  <!-- DESCRIPTION -->
  <div class="col-7 text-start">
    <p>{{expense.description}}</p>
  </div>

  <!-- AMOUNT -->
  <div class="col-4 text-end">
    <p class="fw-bold">S/. {{expense.amount}}</p>
  </div>
</div>

<ng-container *ngIf="toolbar">
  <div class="row mb-3">
    <div class="col-11 offset-1">
      <p class="mb-0 small text-muted">
        <i class="bi bi-person-circle me-1"></i>
        {{expense.userDisplayName}}
      </p>
      <p class="mb-0 small text-muted">
        <i class="bi bi-calendar2-week me-1"></i>
        {{expense.createdAt.toDate() | date:'MMM d, y'}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-11 offset-1">
      <app-button
        (click)="openModalDelete(modalDelete)"
        [type]="'button'"
        [class]="'btn btn-danger me-2'"
        [icon]="'bi bi-trash-fill'"
      ></app-button>

      <app-button
        (click)="openModalReceipt(modalReceipt)"
        [type]="'button'"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-receipt'"
      ></app-button>
    </div>
  </div>
</ng-container>


<!---------------------------------------->
<!------------ MODAL RECEIPT ------------->
<ng-template #modalReceipt let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-center">
    <img *ngIf="expense.receiptUrl" style="max-width: 300px" [src]="[expense.receiptUrl]" alt="">
    <p *ngIf="!expense.receiptUrl">No hay recibo adjunto.</p>
  </div>
</ng-template>


<!--------------------------------------->
<!------------ MODAL DELETE ------------->
<ng-template #modalDelete let-modal>
  <div class="modal-body">
    <p class="lead">¿Desea borrar {{expense.description}} ?</p>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <!-- BUTTON CANCEL -->
    <app-button
      (click)="modal.dismiss()"
      [type]="'button'"
      [class]="'btn btn-secondary me-2'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'Cancelar'"
    ></app-button>

    <!-- BUTTON DELETE -->
    <app-button
      (click)="deleteExpense(expense, bag)"
      [type]="'button'"
      [class]="'btn btn-danger'"
      [icon]="'bi bi-trash-fill me-1'"
      [label]="'Borrar'"
    ></app-button>
  </div>
</ng-template>
