<div class="w-100">
  <p class="m-1 fw-bold" (click)="openModal(modal)">{{expense.description}}</p>
</div>

<div class="w-100 d-flex justify-content-between">
  <div class="w-75">
    <p class="m-1 small text-muted">
      <i class="bi bi-person-circle me-1"></i>
      {{expense.userDisplayName | titlecase}}
    </p>
    <p class="m-1 small text-muted">
      <i class="bi bi-calendar2-week me-1"></i>
      {{expense.createdAt.toDate() | date:'MMM d, y'}}
    </p>
  </div>

  <div class="w-25 text-end">
    <p class="fw-bold">S/. {{expense.amount}}</p>
  </div>
</div>


<!-- MODAL -->
<ng-template #modal let-modal>
  <div class="modal-body text-center">
    <p class="fw-bold">{{expense.description}}</p>
    <img *ngIf="expense.receiptUrl" style="max-width: 300px" [src]="[expense.receiptUrl]" alt="">
    <p *ngIf="!expense.receiptUrl">No hay recibo adjunto.</p>
  </div>

  <div class="modal-footer d-flex justify-content-center">
    <!-- BUTTON CANCEL -->
    <app-button
      (click)="modal.dismiss()"
      [type]="'button'"
      [class]="'btn btn-secondary me-2'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'Salir'"
    ></app-button>

    <!-- BUTTON DELETE -->
    <app-button
      (click)="deleteExpense(expense, bag)"
      [type]="'button'"
      [class]="'btn btn-danger'"
      [icon]="'bi bi-trash-fill me-1'"
      [label]="'Borrar'"
    ></app-button>
  </div>
</ng-template>
