<ng-container *ngIf="authService.user$ | async as user">

  <!-- LIST BAGS TEMPLATE -->
  <app-list-bags
    *ngIf="listBagsTemplate"
    [user]="user"
    (selectedBag)="getSelectedBag($event)"
  ></app-list-bags>

  <!-- NEW BAG TEMPLATE -->
  <app-new-bag
    *ngIf="newBagTemplate"
    [user]="user"
    (btnCancel)="showListBagsTemplate()"
  ></app-new-bag>

  <!-- VIEW BAG TEMPLATE -->
  <app-view-bag
    *ngIf="viewBagTemplate"
    [user]="user"
    [bag]="selectedBag"
    (btnBack)="showListBagsTemplate()"
    (btnShareBag)="showShareBagTemplate()"
  ></app-view-bag>

  <!-- SHARE BAG TEMPLATE -->
  <app-share-bag
    *ngIf="shareBagTemplate"
    [user]="user"
  ></app-share-bag>


  <!-------------------------------------------------->
  <!--------------- FRIENDS TEMPLATE ----------------->
  <!-- LIST FRIENDS TEMPLATE -->
  <app-list-friends
    *ngIf="listFriendsTemplate"
    [user]="user"
    (selectedFriend)="getSelectedFriend($event)"
  ></app-list-friends>


  <!-- NEW EXPENSE TEMPLATE -->
  <app-new-expense
    *ngIf="newExpenseTemplate"
    [user]="user"
    [bag]="selectedBag"
    (btnCancel)="showViewBagTemplate()"
  ></app-new-expense>

  <!-- SEARCH FRIEND TEMPLATE -->
  <app-search-friend
    *ngIf="searchFriendTemplate"
    [user]="user"
  ></app-search-friend>


  <!-- BUTTON BAR -->
  <app-button-bar
    *ngIf="buttonBarTemplate"
    [user]="user"
    [listBagsTemplate]="listBagsTemplate"
    [viewBagTemplate]="viewBagTemplate"
    [shareBagTemplate]="shareBagTemplate"
    [listBagsRequestTemplate]="listBagsRequestTemplate"

    [listFriendsTemplate]="listFriendsTemplate"
    [listFriendsRequestTemplate]="listFriendsRequestTemplate"
    [searchFriendTemplate]="searchFriendTemplate"
    [viewFriendsTemplate]="viewFriendTemplate"

    (btnListBags)="showListBagsTemplate()"
    (btnNewBag)="showNewBagTemplate()"
    (btnViewBag)="showViewBagTemplate()"

    (btnListFriends)="showListFriendsTemplate()"
    (btnSearchFriends)="showSearchFriendsTemplate()"

    (btnNewExpense)="showNewExpenseTemplate()"
  ></app-button-bar>

</ng-container>
