<ng-container *ngIf="authService.user$ | async as user">

  <!-- BAGS TEMPLATE -->
  <app-bags
    *ngIf="bagsTemplate"
    [user]="user"
    (selectedBag)="getSelectedBag($event)"
    (btnShareBagRequest)="showShareBagRequest()"
  ></app-bags>


  <!-- NEW BAG TEMPLATE -->
  <app-new-bag
    *ngIf="newBagTemplate"
    [user]="user"
    (btnBack)="showBagsTemplate()"
  ></app-new-bag>

  <!-- VIEW BAG TEMPLATE -->
  <app-view-bag
    *ngIf="viewBagTemplate"
    [user]="user"
    [bag]="selectedBag"
    (btnBack)="showBagsTemplate()"
    (btnShareBag)="showShareBag()"
  ></app-view-bag>

  <!-- SHARE BAG TEMPLATE -->
  <app-share-bag
    *ngIf="shareBagTemplate"
    [user]="user"
    [bag]="selectedBag"
  ></app-share-bag>

  <!-- SHARE BAG REQUEST TEMPLATE -->
  <app-share-bag-request
    *ngIf="shareBagRequestTemplate"
    [user]="user"
  ></app-share-bag-request>


  <!-- NEW EXPENSE TEMPLATE -->
  <app-new-expense
    *ngIf="newExpenseTemplate"
    [user]="user"
    [bag]="selectedBag"
    (btnBackToViewBag)="showViewBagTemplate()"
  ></app-new-expense>

  <!-- FRIENDS TEMPLATE -->
  <app-friends
    *ngIf="friendsTemplate"
    [user]="user"
    (selectedFriend)="getSelectedFriend($event)"
    (btnFriendRequest)="showListFriendsRequest()"
  ></app-friends>

  <!-- LIST FRIENDS REQUEST -->
  <app-list-friend-request
    *ngIf="friendsRequestTemplate"
    [user]="user"
  ></app-list-friend-request>

  <!-- VIEW FRIEND TEMPLATE -->
  <app-view-friend
    *ngIf="viewFriendTemplate"
    [user]="user"
    [friend]="selectedFriend"
  ></app-view-friend>

  <!-- SEARCH FRIEND TEMPLATE -->
  <app-search-friend
    *ngIf="searchFriendTemplate"
    [user]="user"
  ></app-search-friend>


  <!-- BUTTON BAR TEMPLATE -->
  <app-button-bar
    *ngIf="buttonBarTemplate"
    [user]="user"

    [bagsTemplate]="bagsTemplate"
    [viewBagTemplate]="viewBagTemplate"
    [shareBagTemplate]="shareBagTemplate"
    [shareBagRequestTemplate]="shareBagRequestTemplate"
    [friendsTemplate]="friendsTemplate"
    [friendsRequestTemplate]="friendsRequestTemplate"
    [searchFriendTemplate]="searchFriendTemplate"

    (btnBags)="showBagsTemplate()"
    (btnNewBag)="showNewBagTemplate()"
    (btnViewBag)="showViewBagTemplate()"
    (btnNewExpense)="showNewExpenseTemplate()"
    (btnFriends)="showFriendsTemplate()"
    (btnSearchFriend)="showSearchFriend()"
  ></app-button-bar>

</ng-container>
