<ng-container *ngIf="authService.user$ | async as user">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand">La Chancha</span>
      <button
        (click)="collapsed = !collapsed"
        [attr.aria-expanded]="!collapsed"
        aria-controls="navbarContent"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [class.collapse]="collapsed" class="navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto">

          <li class="nav-item" ngbDropdown>
            <a class="nav-link" id="navbarDropdown1" ngbDropdownToggle role="button" tabindex="0">
              {{user.displayName}}</a>
            <div aria-labelledby="navbarDropdown1" class="dropdown-menu" ngbDropdownMenu>
              <a (click)="logout()" href="#" ngbDropdownItem>Cerrar sesión</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</ng-container>
