<div (click)="openModalRequest(modalRequest)" class="shadow p-2 mb-2 bg-body-tertiary rounded border-0">
  <div class="w-100 d-flex justify-content-start">
    <img alt="" class="rounded-circle" referrerpolicy="no-referrer" src="{{users.photoURL}}" style="width: 48px">
    <p class="m-auto ms-2">{{users.displayName | titlecase}}</p>
  </div>
</div>


<!-- MODAL REQUEST -->
<ng-template #modalRequest let-modal>
  <div class="modal-body">
    <p class="lead fw-bold">Solicitud de amistad.</p>

    <div class="d-flex justify-content-start">
      <img alt="" class="rounded-circle me-2" referrerpolicy="no-referrer" src="{{users.photoURL}}"
           style="width: 48px">
      <p class="mt-2">{{users.displayName}}</p>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <!-- BUTTON CANCEL -->
    <app-button
      (click)="modal.dismiss()"
      [class]="'btn btn-danger me-2'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'No'"
      [type]="'button'"
    ></app-button>

    <!-- BUTTON DELETE -->
    <app-button
      (click)="sendingRequest(users)"
      [class]="'btn btn-primary'"
      [icon]="'bi bi-envelope-fill me-1'"
      [label]="'Enviar'"
      [type]="'button'"
    ></app-button>
  </div>
</ng-template>
