<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="searchTEXT"
    [(ngModel)]="searchText"
    placeholder="Buscar por nombre o correo electrónico">
  <label for="searchTEXT">Buscar por nombre o correo electrónico</label>
</div>


<ng-container *ngIf="searchText">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let users of listUsers | filterUsers:searchText">

      <app-search-friend-item
        [user]="user"
        [users]="users"
      ></app-search-friend-item>

    </li>
  </ul>
</ng-container>
