<app-title [title]="'Buscar Amigos'"></app-title>

<div class="w-100">
  <div class="form-floating mb-3">
    <input
      [(ngModel)]="searchText"
      autofocus
      class="form-control"
      id="searchTEXT"
      placeholder="Buscar por nombre o correo electrónico"
      type="text">
    <label for="searchTEXT">Buscar por nombre o correo electrónico</label>
  </div>
</div>

<ng-container *ngIf="searchText">
  <ul class="list-group list-group-flush">
    <li *ngFor="let users of listUsers | filterUsers:searchText" class="list-group-item p-1 border-0">

      <app-search-friend-item
        [users]="users"
      ></app-search-friend-item>

    </li>
  </ul>
</ng-container>
