<app-title [title]="'Nuevo Gasto'"></app-title>

<form (ngSubmit)="onSubmit(bag, user)" [formGroup]="newExpenseForm">

  <!-- DESCRIPTION -->
  <div class="form-floating mb-3">
    <input
      class="form-control"
      formControlName="description"
      id="descriptionTXT"
      placeholder="Descripción"
      required
      type="text">
    <label for="descriptionTXT">Descripción</label>
  </div>

  <!-- AMOUNT -->
  <div class="form-floating mb-3">
    <input
      class="form-control"
      formControlName="amount"
      id="amountTXT"
      placeholder="Monto objetivo S/."
      required
      type="number">
    <label for="amountTXT">Monto S/.</label>
  </div>

  <!-- CAPTURE IMAGE FILE -->
  <ng-container *ngIf="!imagePreview">
    <div class="w-100 mt-5">
      <p class="fw-bold">Adjuntar Recibo</p>
    </div>

    <div class="w-100 d-flex justify-content-between">
      <div class="w-50 d-flex justify-content-center">
        <div class="container-camera text-center">
          <input
            (change)="showPreview($event)"
            accept="image/*;capture=camera"
            type="file">
          <img alt="camera" src="./assets/images/camera.png">
          <p class="text-muted">Tomar Foto</p>
        </div>
      </div>
      <div class="w-50 border-start d-flex justify-content-center">
        <div class="container-camera text-center">
          <input
            (change)="showPreview($event)"
            accept="image/*"
            type="file">
          <img alt="camera" src="./assets/images/upload.png">
          <p class="text-muted">Subir imagen</p>
        </div>
      </div>
    </div>
  </ng-container>


  <!-- IMAGE PREVIEW -->
  <ng-container *ngIf="imagePreview && imagePreview !== ''">
    <div class="w-100 mt-5 d-flex justify-content-between">
      <div class="w-50">
        <p class="fw-bold">Vista Previa</p>
      </div>
      <div class="w-50 text-end">
        <app-button
          (click)="deletePreview()"
          [class]="'btn btn-danger'"
          [icon]="'bi bi-trash-fill'"
          [label]="'Quitar'"
          [type]="'button'"
        ></app-button>
      </div>
    </div>

    <div class="w-100 mt-5 d-flex justify-content-center">
      <img [src]="[imagePreview]" alt="" style="max-width: 250px;">
    </div>
  </ng-container>


  <!-- BUTTONS FOOTERS -->
  <div class="w-100 fixed-bottom bg-dark p-3 d-flex justify-content-between">

    <!-- BUTTON CANCEL -->
    <app-button
      (click)="goCancel()"
      [class]="'btn btn-danger'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'Cancelar'"
      [type]="'button'"
    ></app-button>

    <!-- BUTTON SAVE - LOADING EFFECT -->
    <app-button-save-loading
      *ngIf="loadingEffect"
      [class]="'btn btn-success'"
      [type]="'button'"
    ></app-button-save-loading>

    <!-- BUTTON SAVE -->
    <app-button
      *ngIf="!loadingEffect"
      [class]="'btn btn-success'"
      [icon]="'bi bi-hdd-fill me-1'"
      [label]="'Guardar'"
      [type]="'submit'"
    ></app-button>
  </div>
</form>
