<!-- LIST BAGS TEMPLATE -->
<ng-container *ngIf="listBagsTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12 d-flex justify-content-between">

      <!-- BUTTON FRIENDS -->
      <app-button-friends-badge
        (click)="goListFriends()"
        [user]="user"
      ></app-button-friends-badge>

      <!-- BUTTON NEW BAG -->
      <app-button
        (click)="goNewBag()"
        [class]="'btn btn-primary'"
        [icon]="'bi bi-piggy-bank-fill me-1'"
        [label]="'Nueva Chancha'"
        [type]="'button'"
      ></app-button>

    </div>
  </div>
</ng-container>


<!-- VIEW BAG TEMPLATE -->
<ng-container *ngIf="viewBagTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12 d-flex justify-content-between">

      <!-- BUTTON BACK -->
      <app-button
        (click)="goListBags()"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-backspace-fill me-1'"
        [label]="'Atrás'"
        [type]="'button'"
      ></app-button>

      <!-- BUTTON NEW EXPENSE -->
      <app-button
        (click)="goNewExpense()"
        [class]="'btn btn-primary'"
        [icon]="'bi bi-cash-coin me-1'"
        [label]="'Nuevo gasto'"
        [type]="'button'"
      ></app-button>

    </div>
  </div>
</ng-container>

<!-- SHARE BAG TEMPLATE -->
<ng-container *ngIf="shareBagTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12">

      <!-- BUTTON BACK -->
      <app-button
        (click)="goViewBag()"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-backspace-fill me-1'"
        [label]="'Atrás'"
        [type]="'button'"
      ></app-button>
    </div>
  </div>
</ng-container>


<!-- LIST BAGS REQUEST TEMPLATE -->
<ng-container *ngIf="listBagsRequestTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12">

      <!-- BUTTON BACK -->
      <app-button
        (click)="goListBags()"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-backspace-fill me-1'"
        [label]="'Atrás'"
        [type]="'button'"
      ></app-button>

    </div>
  </div>
</ng-container>


<!-- LIST FRIENDS TEMPLATE -->
<ng-container *ngIf="listFriendsTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12 d-flex justify-content-between">

      <!-- BUTTON BACK -->
      <app-button
        (click)="goListBags()"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-backspace-fill me-1'"
        [label]="'Atrás'"
        [type]="'button'"
      ></app-button>

      <!-- BUTTON SEARCH FRIEND -->
      <app-button
        (click)="goSearchFriends()"
        [class]="'btn btn-primary'"
        [icon]="'bi bi-person-plus-fill me-1'"
        [label]="'Agregar amigo'"
        [type]="'button'"
      ></app-button>

    </div>
  </div>
</ng-container>


<!-- LIST FRIENDS REQUEST TEMPLATE -->
<ng-container *ngIf="listFriendsRequestTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12">

      <!-- BUTTON BACK -->
      <app-button
        (click)="goListFriends()"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-backspace-fill me-1'"
        [label]="'Atrás'"
        [type]="'button'"
      ></app-button>

    </div>
  </div>
</ng-container>


<!-- SEARCH FRIEND TEMPLATE -->
<ng-container *ngIf="searchFriendTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12">

      <!-- BUTTON BACK -->
      <app-button
        (click)="goListFriends()"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-backspace-fill me-1'"
        [label]="'Atrás'"
        [type]="'button'"
      ></app-button>

    </div>
  </div>
</ng-container>


<!-- VIEW FRIEND TEMPLATE -->
<ng-container *ngIf="viewFriendsTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12">

      <!-- BUTTON BACK -->
      <app-button
        (click)="goListFriends()"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-backspace-fill me-1'"
        [label]="'Atrás'"
        [type]="'button'"
      ></app-button>

    </div>
  </div>
</ng-container>
