<!--------------------------------------------->
<!---------------- LIST BAGS ------------------>
<ng-container *ngIf="listBagsTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12 d-flex justify-content-between">

      <!-- BUTTON LIST FRIENDS -->
      <app-button-friends-badge
        (click)="goFriends()"
        [user]="user"
      ></app-button-friends-badge>

      <!-- BUTTON NEW BAG -->
      <app-button
        (click)="goNewBag()"
        [type]="'button'"
        [class]="'btn btn-primary'"
        [icon]="'bi bi-piggy-bank-fill me-1'"
        [label]="'Nueva Chancha'"
      ></app-button>

    </div>
  </div>
</ng-container>


<!-------------------------------------------->
<!---------------- VIEW BAG ------------------>
<ng-container *ngIf="viewBagTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12 d-flex justify-content-between">

      <!-- BUTTON BACK -->
      <app-button
        (click)="goBackToListBagsTemplate()"
        [type]="'button'"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-backspace-fill me-1'"
        [label]="'Atrás'"
      ></app-button>

      <!-- BUTTON NEW EXPENSE -->
      <app-button
        (click)="goNewExpense()"
        [type]="'button'"
        [class]="'btn btn-primary'"
        [icon]="'bi bi-cash-coin me-1'"
        [label]="'Nuevo gasto'"
      ></app-button>

    </div>
  </div>
</ng-container>


<!------------------------------------------------>
<!---------------- LIST FRIENDS ------------------>
<ng-container *ngIf="friendsTemplate">
  <div class="row fixed-bottom bg-dark p-3">
    <div class="col-12">

      <!-- BUTTON BACK -->
      <app-button
        (click)="goBackToListBagsTemplate()"
        [type]="'button'"
        [class]="'btn btn-secondary'"
        [icon]="'bi bi-backspace-fill me-1'"
        [label]="'Atrás'"
      ></app-button>

    </div>
  </div>
</ng-container>
