<p>dashboard works!</p>


<div class="row fixed-bottom bg-white p-3">
  <div class="col-12 d-flex justify-content-between">

    <!-- BTN EXPENSES -->
    <button type="button" class="btn btn-primary rounded-circle" [routerLink]="'/expenses'">
      <i class="bi bi-cart3 fs-1"></i>
    </button>


    <!-- BTN INCOMES -->
    <button type="button" class="btn btn-success rounded-circle" [routerLink]="'/incomes'">
      <i class="bi bi-cash-coin fs-1"></i>
    </button>

    <!-- BTN BAGS -->
    <button type="button" class="btn btn-dark rounded-circle" [routerLink]="'/bags'">
      <i class="bi bi-piggy-bank fs-1"></i>
    </button>

  </div>
</div>
