<app-title [title]="'Compartir chancha con amigos'"></app-title>

<div class="w-100">
  <div class="form-floating mb-3">
    <input
      [(ngModel)]="searchText"
      autofocus
      class="form-control"
      id="searchTEXT"
      placeholder="Buscar amigo por nombre o correo electrónico"
      type="text">
    <label for="searchTEXT">Buscar amigo por nombre o correo electrónico</label>
  </div>
</div>

<ng-container *ngIf="searchText">
  <ul class="list-group list-group-flush">
    <li *ngFor="let friend of listFriends | filterFriends:searchText" class="list-group-item p-1 border-0">

      <app-share-bag-item
        [user]="user"
        [bag]="bag"
        [friend]="friend"
      ></app-share-bag-item>

    </li>
  </ul>
</ng-container>

<div class="w-100 mt-4">
  <p class="mb-3">Ó también puedes compartirla por:</p>
  <img alt="whatsapp" class="me-3" src="./assets/images/whatsapp.png" style="width: 32px">
  <img alt="gmail" class="me-3" src="./assets/images/gmail.png" style="width: 32px">
</div>
