<!-- EDIT MODE -->
<ng-container *ngIf="editMode; else viewMode">
  <app-title [title]="'Editar Chancha'"></app-title>

  <div class="w-100 d-flex justify-content-between">
    <div class="w-75">
      <div class="form-floating mb-3">
        <input
          [(ngModel)]="bag.description"
          class="form-control"
          id="descriptionTXT"
          placeholder="Descripción"
          type="text">
        <label class="form-label" for="descriptionTXT">Descripción</label>
      </div>

      <div class="form-floating">
        <input
          [(ngModel)]="bag.targetAmount"
          class="form-control"
          id="targetAmountTXT"
          placeholder="Monto objetivo"
          type="number">
        <label class="form-label" for="targetAmountTXT">Monto objetivo</label>
      </div>
    </div>

    <div class="w-25 text-end">
      <!-- BUTTON SAVE -->
      <div class="mb-2">
        <app-button
          (click)="openModalEdit(modalEdit)"
          [class]="'btn btn-success'"
          [icon]="'bi bi-hdd-fill'"
          [type]="'button'"
        ></app-button>
      </div>

      <!-- BUTTON CANCEL -->
      <div class="mb-2">
        <app-button
          (click)="getEdit(false)"
          [class]="'btn btn-danger'"
          [icon]="'bi bi-x-circle-fill'"
          [type]="'button'"
        ></app-button>
      </div>
    </div>
  </div>
  <hr class="text-muted">
</ng-container>

<!-- VIEW MODE -->
<ng-template #viewMode>
  <div class="w-100 d-flex justify-content-between">
    <!-- BAG DATA -->
    <div class="w-75">
      <p class="mb-3 lead fw-bold">{{bag.description}}</p>
      <p class="mb-2">
        <i class="bi bi-person-circle me-1"></i>
        {{bag.uDisplayName | titlecase}}
      </p>
      <p class="mb-2">
        <i class="bi bi-calendar2-week me-1"></i>
        {{bag.createdAt.toDate() | date:'MMM d, y'}}
      </p>
      <p [ngStyle]="{'color': bag.collectedAmount < bag.targetAmount ? 'green':'red'}" class="mb-2 fw-bold">
        Monto recolectado: S/. {{bag.collectedAmount}}
      </p>
      <p class="fw-bold">Monto objetivo: S/. {{bag.targetAmount}}</p>
    </div>

    <!-- BUTTONS -->
    <div class="w-25 text-end">
      <!-- EDIT -->
      <div class="mb-2">
        <app-button
          (click)="getEdit(true)"
          [class]="'btn btn-primary'"
          [icon]="'bi bi-pencil-square'"
          [type]="'button'"
        ></app-button>
      </div>
      <!-- DELETE -->
      <div class="mb-2">
        <app-button
          (click)="openModalDelete(modalDelete)"
          [class]="'btn btn-danger'"
          [icon]="'bi bi-trash-fill'"
          [type]="'button'"
        ></app-button>
      </div>
      <!-- SHARE -->
      <div class="mb-2">
        <app-button
          (click)="goShareBag()"
          [class]="'btn btn-warning'"
          [icon]="'bi bi-share-fill'"
          [type]="'button'"
        ></app-button>
      </div>
    </div>
  </div>
  <hr class="text-muted">

  <!-- LIST EXPENSES -->
  <app-list-expenses [bag]="bag"></app-list-expenses>

</ng-template>


<!-- MODAL EDIT -->
<ng-template #modalEdit let-modal>
  <div class="modal-body text-center">
    <p class="lead">¿Desea guardar los cambios?</p>

    <!-- BUTTON CANCEL -->
    <app-button
      (click)="modal.dismiss('Cross click')"
      [class]="'btn btn-danger me-2'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'Cancelar'"
      [type]="'button'"
    ></app-button>

    <!-- BUTTON SAVE -->
    <app-button
      (click)="onSave(bag)"
      [class]="'btn btn-success'"
      [icon]="'bi bi-hdd-fill me-1'"
      [label]="'Guardar'"
      [type]="'button'"
    ></app-button>
  </div>
</ng-template>


<!-- MODAL DELETE -->
<ng-template #modalDelete let-modal>
  <div class="modal-body text-center">
    <p class="lead">¿Desea eliminar la chancha?</p>

    <ngb-alert *ngIf="msgError" [dismissible]="false" [type]="'danger'">
      <strong>Atencion! </strong>{{msgError}}
    </ngb-alert>

    <!-- BUTTON CANCEL -->
    <app-button
      (click)="modal.dismiss('Cross click')"
      [class]="'btn btn-secondary me-2'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'Cancelar'"
      [type]="'button'"
    ></app-button>

    <!-- BUTTON DELETE -->
    <app-button
      (click)="onDelete(bag)"
      [class]="'btn btn-danger'"
      [icon]="'bi bi-trash-fill me-1'"
      [label]="'Borrar'"
      [type]="'button'"
    ></app-button>
  </div>
</ng-template>
