<!--/////////////////////////////////////////////////-->
<!--////////////////// EDIT MODE ////////////////////-->
<!--/////////////////////////////////////////////////-->
<ng-container *ngIf="editMode; else viewMode">
  <div class="w-100 d-flex justify-content-between">
    <div class="w-75">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="descriptionTXT"
          placeholder="Descripción"
          [(ngModel)]="bag.description">
        <label for="descriptionTXT" class="form-label">Descripción</label>
      </div>

      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="targetAmountTXT"
          placeholder="Monto objetivo"
          [(ngModel)]="bag.targetAmount">
        <label for="targetAmountTXT" class="form-label">Monto objetivo</label>
      </div>
    </div>

    <div class="w-25 text-end">
      <!-- BUTTON SAVE -->
      <div class="mb-2">
        <app-button
          (click)="openModalEdit(modalEdit)"
          [type]="'button'"
          [class]="'btn btn-success'"
          [icon]="'bi bi-hdd-fill'"
        ></app-button>
      </div>

      <!-- BUTTON CANCEL -->
      <div class="mb-2">
        <app-button
          (click)="getEdit(false)"
          [type]="'button'"
          [class]="'btn btn-danger'"
          [icon]="'bi bi-x-circle-fill'"
        ></app-button>
      </div>
    </div>
  </div>
  <hr class="text-muted">
</ng-container>

<!--/////////////////////////////////////////////////-->
<!--////////////////// VIEW MODE ////////////////////-->
<!--/////////////////////////////////////////////////-->
<ng-template #viewMode>
  <div class="w-100 d-flex justify-content-between">
    <!-- BAG DATA -->
    <div class="w-75">
      <p class="mb-3 lead fw-bold">{{bag.description}}</p>
      <p class="mb-2">
        <i class="bi bi-person-circle me-1"></i>
        {{bag.userDisplayName | titlecase}}
      </p>
      <p class="mb-2">
        <i class="bi bi-calendar2-week me-1"></i>
        {{bag.createdAt.toDate() | date:'MMM d, y'}}
      </p>
      <p class="mb-2 fw-bold" [ngStyle]="{'color': bag.collectedAmount < bag.targetAmount ? 'green':'red'}">
        Monto recolectado: S/. {{bag.collectedAmount}}
      </p>
      <p class="fw-bold">Monto objetivo: S/. {{bag.targetAmount}}</p>
    </div>

    <!-- BUTTONS -->
    <div class="w-25 text-end">
      <!-- EDIT -->
      <div class="mb-2">
        <app-button
          (click)="getEdit(true)"
          [type]="'button'"
          [class]="'btn btn-primary'"
          [icon]="'bi bi-pencil-square'"
        ></app-button>
      </div>
      <!-- DELETE -->
      <div class="mb-2">
        <app-button
          (click)="openModalDelete(modalDelete)"
          [type]="'button'"
          [class]="'btn btn-danger'"
          [icon]="'bi bi-trash-fill'"
        ></app-button>
      </div>
      <!-- SHARE -->
      <div class="mb-2">
        <app-button
          (click)="goShareBag()"
          [type]="'button'"
          [class]="'btn btn-warning'"
          [icon]="'bi bi-share-fill'"
        ></app-button>
      </div>
    </div>
  </div>
  <hr class="text-muted">

</ng-template>


<!-- MODAL CONFIRM EDIT -->
<ng-template #modalEdit let-modal>
  <div class="modal-body text-center">
    <p class="lead">¿Desea guardar los cambios?</p>

    <!-- BUTTON CANCEL -->
    <app-button
      (click)="modal.dismiss('Cross click')"
      [type]="'button'"
      [class]="'btn btn-danger me-2'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'Cancelar'"
    ></app-button>

    <!-- BUTTON SAVE -->
    <app-button
      (click)="onSave(bag)"
      [type]="'button'"
      [class]="'btn btn-success'"
      [icon]="'bi bi-hdd-fill me-1'"
      [label]="'Guardar'"
    ></app-button>
  </div>
</ng-template>


<!-- MODAL DELETE -->
<ng-template #modalDelete let-modal>
  <div class="modal-body text-center">
    <p class="lead">¿Desea eliminar la chancha?</p>

    <ngb-alert *ngIf="msgError" [dismissible]="false" [type]="'danger'">
      <strong>Atencion! </strong>{{msgError}}
    </ngb-alert>

    <!-- BUTTON CANCEL -->
    <app-button
      (click)="modal.dismiss('Cross click')"
      [type]="'button'"
      [class]="'btn btn-secondary me-2'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'Cancelar'"
    ></app-button>

    <!-- BUTTON DELETE -->
    <app-button
      (click)="onDelete(bag)"
      [type]="'button'"
      [class]="'btn btn-danger'"
      [icon]="'bi bi-trash-fill me-1'"
      [label]="'Borrar'"
    ></app-button>
  </div>
</ng-template>


<!-- LIST EXPENSES -->
<app-list-expenses [bag]="bag" [user]="user"></app-list-expenses>
