<div class="shadow p-3 mb-3 bg-body-tertiary rounded border-0">

  <div class="w-100 d-flex justify-content-start">
    <img alt="" class="rounded-circle" referrerpolicy="no-referrer" src="{{friendRequest.uPhotoURL}}"
         style="width: 48px">
    <p class="m-auto ms-2">{{friendRequest.uDisplayName | titlecase}}</p>
  </div>
  <br>

  <div class="w-100 d-flex justify-content-center">
    <app-button
      (click)="rejectRequest(friendRequest)"
      [class]="'btn btn-danger me-2'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'Rechazar'"
      [type]="'button'"
    ></app-button>

    <app-button
      (click)="agreeRequest(friendRequest)"
      [class]="'btn btn-success'"
      [icon]="'bi bi-check-circle-fill'"
      [label]="'Aceptar'"
      [type]="'button'"
    ></app-button>
  </div>
</div>
