<div class="row">
  <div class="col-12">
    <div class="card shadow p-3 bg-body-tertiary border-0 rounded text-center">

      <p class="display-3">La Chancha</p>

      <p class="lead">Iniciar sesión</p>

      <form>
        <!-- USERNAME -->
        <div class="form-floating mb-3">
          <input class="form-control" id="mailTXT" placeholder="Correo electrónico" type="text">
          <label for="mailTXT">Correo electrónico</label>
        </div>
        <!-- PASSWORD -->
        <div class="form-floating mb-2">
          <input class="form-control" id="passTXT" placeholder="Contraseña" type="password">
          <label for="passTXT">Contraseña</label>
        </div>
        <div class="form-floating mb-3 text-start">
          <a [routerLink]="''" class="small text-decoration-none">Recuperar contraseña</a>
        </div>
      </form>

      <div class="row">
        <div class="col-5">
          <hr class="text-muted">
        </div>
        <div class="col-2">
          <p>ó</p>
        </div>
        <div class="col-5">
          <hr class="text-muted">
        </div>
      </div>

      <app-button
        (click)="loginGoogle()"
        [class]="'btn btn-secondary w-75 mb-3'"
        [icon]="'bi bi-google me-2'"
        [label]="'Continuar con google'"
        [type]="'button'"
      ></app-button>

      <app-button
        [class]="'btn btn-primary w-75'"
        [icon]="'bi bi-facebook me-2'"
        [label]="'Continuar con facebook'"
        [type]="'button'"
      ></app-button>


    </div>
  </div>
</div>
