<div class="shadow p-2 mb-2 bg-body-tertiary rounded border-0">

  <p class="w-100 m-1 fw-bold">{{bag.description}}</p>

  <div class="w-100 d-flex justify-content-between">
    <div class="w-75">
      <p class="m-1 small text-muted">
        <i class="bi bi-person-circle me-1"></i>
        {{bag.uDisplayName | titlecase}}
      </p>

      <p class="m-1 small text-muted">
        <i class="bi bi-calendar2-week me-1"></i>
        {{bag.createdAt.toDate() | date:'MMM d, y'}}
      </p>
    </div>

    <div class="w-25 text-end">
      <p [ngStyle]="{'color': bag.collectedAmount < bag.targetAmount ? 'green':'red'}" class="m-1 fw-bold">
        S/. {{bag.collectedAmount}}</p>
      <p class="m-1 fw-bold">S/. {{bag.targetAmount}}</p>
    </div>
  </div>

</div>
