<div class="row">
  <div class="col-10 offset-1">
    <div class="card shadow rounded p-3 border-0 text-center">

      <p class="fs-3">Iniciar Sesión</p>
      <br>

      <!-- GOOGLE -->
      <button type="button" class="btn btn-danger" (click)="loginGoogle()">
        <i class="bi bi-google me-1"></i>
        Continuar con Google
      </button>

      <br>

      <!-- FACEBOOK -->
      <button type="button" class="btn btn-primary" disabled>
        <i class="bi bi-facebook me-1"></i>
        Continuar con Facebook
      </button>

      <br>

      <!-- APPLE -->
      <button type="button" class="btn btn-dark" disabled>
        <i class="bi bi-apple me-1"></i>
        Continuar con Apple
      </button>

      <br>

    </div>
  </div>
</div>
