<app-title [title]="'Nueva Chancha'"></app-title>

<form (ngSubmit)="onSubmit(user)" [formGroup]="newBagForm">

  <!-- DESCRIPTION -->
  <div class="form-floating mb-3">
    <input
      class="form-control"
      formControlName="description"
      id="descriptionTXT"
      placeholder="Descripción"
      required
      type="text">
    <label for="descriptionTXT">Descripción</label>
  </div>

  <!-- TARGET AMOUNT -->
  <div class="form-floating mb-2">
    <input
      class="form-control"
      formControlName="targetAmount"
      id="targetAmountTXT"
      placeholder="Monto objetivo S/."
      required
      type="number">
    <label for="targetAmountTXT">Monto objetivo S/.</label>
  </div>

  <!-- BUTTONS FOOTERS -->
  <div class="w-100 fixed-bottom bg-dark p-3 d-flex justify-content-between">

    <!-- BUTTON CANCEL -->
    <app-button
      (click)="goCancel()"
      [class]="'btn btn-danger'"
      [icon]="'bi bi-x-circle-fill me-1'"
      [label]="'Cancelar'"
      [type]="'button'"
    ></app-button>

    <!-- BUTTON SAVE - LOADING EFFECT -->
    <app-button-save-loading
      *ngIf="loadingEffect"
      [class]="'btn btn-success'"
      [type]="'button'"
    ></app-button-save-loading>

    <!-- BUTTON SAVE -->
    <app-button
      *ngIf="!loadingEffect"
      [class]="'btn btn-success'"
      [icon]="'bi bi-hdd-fill me-1'"
      [label]="'Guardar'"
      [type]="'submit'"
    ></app-button>

  </div>
</form>
