<ng-container *ngIf="listExpenses.length > 0; else noResults">
  <ul class="list-group list-group-flush overflow-y-auto">
    <li class="list-group-item border-0" style="cursor: pointer" *ngFor="let expense of listExpenses">

      <app-list-expenses-item
        [bag]="bag"
        [expense]="expense"
      ></app-list-expenses-item>

    </li>
    <br>
    <br>
    <br>
    <br>
  </ul>
</ng-container>

<ng-template #noResults>
  <ngb-alert [dismissible]="false" [type]="'success'">
    No tienes gastos aún.
  </ngb-alert>
</ng-template>
