<ng-container *ngIf="listExpenses.length > 0; else noResults">
  <div class="row">
    <div class="col-12">
      <ul class="list-group list-group-flush">
        <li style="cursor: pointer" class="list-group-item border-0" *ngFor="let expense of listExpenses">

          <app-list-expenses-item
            [expense]="expense"
            [user]="user"
            [bag]="bag"
          ></app-list-expenses-item>

        </li>
      </ul>
    </div>
  </div>
</ng-container>


<ng-template #noResults>
  <ngb-alert [dismissible]="false">
    No tienes gastos aún. <strong> Agrega uno!</strong>
  </ngb-alert>
</ng-template>
